applets/applet_tables
applets/usage
busybox
busybox.links
busybox_unstripped
busybox_unstripped.out
include/applet_tables.h
include/autoconf.h
include/bbconfigopts.h
include/config/
include/usage_compressed.h
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
!Config.in
