Package: libflac
Version: 1.2.1-1
Depends: 
Provides: 
Source: package/flac
Section: libs
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ubicom32
Installed-Size: 217580
Description:  Free Lossless Audio Codec library
