.text_1
{
	color: #333;
	font-size: 12pt;
	font-weight: Bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12pt;
	background-repeat: repeat-x;
	text-align: left;
	text-indent: 18px;
	background-image: url(../webfile_images/iconbg.png);
	height: 56px;
	vertical-align: middle;
    text-decoration: none;
}


.text_2
{
	color: #fff;
	font-size: 12pt;
	font-weight: lighter;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12pt;
	text-align: center;
	height: 42px;
	vertical-align: middle;
	background-image: url(../webfile_images/itembg.gif);
	background-repeat: repeat-x;
}

.text_3
{
	color: #333;
	font-size: 10pt;
	font-weight: lighter;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:24px;
	vertical-align: middle;
	text-indent: 35px;
}
.text_5
{
	color: #333;
	font-size: 10pt;
	font-weight: lighter;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:24px;
	vertical-align: middle;
	text-indent: 35px;
	background-color:#fade61;
}

.search
{
	color: #999;
	font-size: 10pt;
	font-weight: lighter;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:16px;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	}

.tdbg
{
	background-image: url(../webfile_images/iconbg.png);
	background-repeat: repeat-x;
	height: 56px;
}

.text_4
{
	color: #333;
	font-size: 12pt;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-decoration: none;
    text-indent: 18px;
}
.text_4:hover
{
	color: #000;
    text-decoration: none;

}
.text_4:active
{
	color: #000;
}
